<launch>
    <!-- Define an argument to choose the launch file -->
    <arg name="launch_file" />

    <!-- Include the specified launch file based on the argument -->
    <include file="$(find state_machine)/launch/$(arg launch_file)">
        <!-- You can also pass parameters if needed -->
        <param name="some_param" value="some_value" />
    </include>
</launch>
