<launch>
    <include file="$(find imu_bno055)/launch/imu.launch"/>
    <include file="$(find pid)/launch/pid.launch"/>
    <include file="$(find motor_commands)/launch/motors.launch"/>
    <!-- <include file="$(find process_depth)/launch/depth.launch"/> -->
    
    <node name="state_machine" pkg="state_machine" type="main.py"/>
</launch>